<p id="notice"><%= notice %></p>

<h1>Oauth Codes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Oauth code</th>
      <th>Expire oauth code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oauth_codes.each do |oauth_code| %>
      <tr>
        <td><%= oauth_code.user_id %></td>
        <td><%= oauth_code.oauth_code %></td>
        <td><%= oauth_code.expire_oauth_code %></td>
        <td><%= link_to 'Show', oauth_code %></td>
        <td><%= link_to 'Edit', edit_oauth_code_path(oauth_code) %></td>
        <td><%= link_to 'Destroy', oauth_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oauth Code', new_oauth_code_path %>
