<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @oauth_code.user_id %>
</p>

<p>
  <strong>Oauth code:</strong>
  <%= @oauth_code.oauth_code %>
</p>

<p>
  <strong>Expire oauth code:</strong>
  <%= @oauth_code.expire_oauth_code %>
</p>

<%= link_to 'Edit', edit_oauth_code_path(@oauth_code) %> |
<%= link_to 'Back', oauth_codes_path %>
